<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Articulos</title>
  <style type="text/css">

</style>
</head>
<body>
  <h1>Listado de Productos</h1>
  <%= link_to "Agregar artículos a la lista de Productos", products_new_url %>
  <table>
    <tr>
      <thead>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </thead>
    </tr>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td>
        <%= link_to "Editar", edit_product_url(product) %>
        <%= link_to "Eliminar",product, method: :delete, data: { confirm:   "borrar"} %>
      </td>
    </tr>
    <% end %>
  </table>
</body>
